#splash {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 10;
  align-items: center;
  justify-content: center;
  background-color: #040b3c;
}

#splash img {
  width: calc(100vw - calc(50vw - 25%) * 2);
  max-width: 200px;
}
